<li class="main-nav__col main-nav__col--25p">
  <a href="/en/blog/categories/loop/" tabindex="-1"
    ><div>
      <h4>Loop</h4>
      <p>
        Watch Talks, Performances and Features from Ableton's Summit for Music
        Makers
      </p>
    </div></a
  >
</li>
<li class="main-nav__col main-nav__col--25p">
  <a href="https://learningmusic.ableton.com/" tabindex="-1"
    ><div>
      <h4>Learning Music</h4>
      <p>Learn the fundamentals of music making right in your browser.</p>
    </div></a
  >
</li>
<li class="main-nav__col main-nav__col--25p">
  <a href="https://learningsynths.ableton.com/" tabindex="-1"
    ><div>
      <h4>Learning Synths</h4>
      <p>
        Get started with synthesis using a web-based synth and accompanying
        lessons.
      </p>
    </div></a
  >
</li>
<li class="main-nav__col main-nav__col--25p">
  <a href="https://makingmusic.ableton.com/" tabindex="-1"
    ><div>
      <h4>Making Music</h4>
      <p>Some tips from 74 Creative Strategies for Electronic Producers.</p>
    </div></a
  >
</li>
